*{
    margin: 0;
    padding: 0;
}



@font-face {
    font-family: 'Cinzel-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Cinzel-Regular'), url('Cinzel-Regular.woff') format('woff');
    }


    .homebutDiv{
        width: 60%;
    height: 40px;
        display: flex;
        justify-content: center;
    }
    .homebut{
        height: 40px;
    }



    .homebutDiv >a>button{
        display: inline-block;
    padding: .5em .75em;
    color: #000000;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border-radius: .25em;
    background-color: #e5e4e4;
    }
    
    
    .homebut {
        background: rgb(255, 255, 255);
        border: none;
    }
    
    .homebut:hover {
        background: rgb(202, 202, 202);
        }
    
    .homebut:focus {
        background: rgb(168, 168, 168);
    }
    







/*전체잡는 틀*/
.top{

width: 100%;
height: 100vh;
border: 1px solid;
display: flex;
justify-content: center;

}

/*두번째로 잡는 틀*/
.towTop{
    width: 100%;
    height: 100%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

/*맨위 제일큰 글 이번주 위스키 정보*/
.head{
    background-color: #1a1a1a;
    color: #eee;
    font-family: 'Cinzel-Regular';
    font-size: 30px;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frameWriting{
    background-color: #1a1a1a;
    width: 100%;
    height: 100vh;
    border: 1px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*사진들과글잡아줄 틀*/
/* .inTheMiddle{
    width: 50%;
    height: 500px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */



/*사진만 잡아주는 틀*/
/* .imgs{
    width: 40%;
    height: 50%;
    border: 1px solid;
    margin-bottom: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(235, 235, 235);
}
a{
    color: blue;
}
a:hover{
    background-color: rgb(0, 0, 0);
}
a:active{
    background-color: brown;
} */

/*제목글 잡아주는 div*/
/* .bugTitle{
    width: 80%;
    display: flex;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
} */

/*글쓰기 잡아주는 div*/
/* .writing{
    width: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 10px;
}
 */





/*전체잡아줌*/
figure.snip1283 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 30px; 
    min-width: 500px;
    max-width:500px; 
    max-height: 500px;
    width: 100%;
    color: #ffffff;
    text-align: left;
    background-color: #000000;
    font-size: 16px;
    -webkit-perspective: 50em;
    perspective: 50em;
    border-radius: 5px;
}

/*사진뒤로가고 글씨올라오는 모션주기*/
figure.snip1283 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

/*이미지 틀잡아주기*/
figure.snip1283 img {
    opacity: 1;
    width: 100%;
    height: 500px;
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;

}

/*글씨나오게 하기*/
figure.snip1283 figcaption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    z-index: 1;
    opacity: 0;
    padding: 20px 30px;
}

/*모션 속도제어*/
figure.snip1283 h3,
figure.snip1283 p {
    line-height: 1.5em;
}

/*글씨 위치등 잡아주기*/
figure.snip1283 h3 {
    margin: 0;
    font-weight: 800;
    text-transform: uppercase;
}

/*글씨 틀잡아주기*/
figure.snip1283 p {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
  overflow: hidden;
}

/*안에 버튼클릭모양잡아주기*/
figure.snip1283 .read-more {
  border: 2px solid #ffffff;
  padding: 0.5em 1em;
  font-size: 0.8em;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}

/*글씨 버튼색변화시켜주기*/
figure.snip1283 .read-more:hover {
  background-color: #ffffff;
  color: #000000;
}

/*이미지 없어지기*/
figure.snip1283:hover img,
figure.snip1283.hover img {
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  opacity: 0;
}

/*글씨 생기게하기*/
figure.snip1283:hover figcaption,
figure.snip1283.hover figcaption {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.WriteButton{
width: 60%;
height: 40px;
display: flex;
justify-content: flex-end;
margin-bottom: 50px;
}

.WriteButton >button{
    display: inline-block;
padding: .5em .75em;
color: #000000;
font-size: inherit;
line-height: normal;
vertical-align: middle;
cursor: pointer;
border-radius: .25em;
background-color: #e5e4e4;
}


.btn-wr {
    background: rgb(255, 255, 255);
    border: none;
}

.btn-wr:hover {
    background: rgb(202, 202, 202);
    }

.btn-wr:focus {
    background: rgb(168, 168, 168);
}



.buttons{
width: 100%;
height: 40px;
display: flex;
justify-content: space-around;
}

.buttons >a>button{
    display: inline-block;
    padding: .5em .75em;
    color: #000000;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border-radius: .25em;
}
.buttons >button{
    display: inline-block;
    padding: .5em .75em;
    color: #000000;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #e5e4e4;
    cursor: pointer;
    border-radius: .25em;
}

.buttons >button {
    background: rgb(255, 255, 255);
    border: none;
}

.buttons >button:hover {
    background: rgb(202, 202, 202);
    }

    .buttons >button:focus {
    background: rgb(168, 168, 168);
}

.in{
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}