


/* 전체틀 잡아주는 div창 */
#entire {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    user-select: none;
    background-color: #1A1413;

}

/* 메인 상단 첫번째 배경넣어주는 div */
#firstMainFrame {
    width: 100%;
    /* border: 1px solid; */
}

/* 햄버거버튼과 메뉴들이있는 div창 */
.topMenu{
    width: 100%;
    font-size: 30px;
    display: flex;
}

.slide{
    width: 220px;
    height: 100%;
    position: absolute;
    background-color: #130e0e;
    transition: 0.5s ease;
    transform: translate(-400px);
    display: flex;
    justify-content: center
}
h1{
    color: #7528c2;
    font-weight: 800;
    text-align: right;
    pointer-events: none;
    margin-top: 90px;
    display: flex;
    justify-content: center;
}
ul li{
    list-style: none;
}
ul li a{
    color: #D7D4CE;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}
input{
    display: none;
    visibility: hidden;
}
.toggle{
    position: absolute;
    height: 45px;
    width: 45px;
    top: 20px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color:  #1A1413;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0, 0.3);
}
.toggle .common{
    position: absolute;
    height: 4px;
    width: 30px;
    background-color: #8000ff;
    border-radius: 30px;
    transition: 0.3s ease;
}
.toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.toggle .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.toggle .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input:checked ~ .toggle .top_line{
    left: 2px;
    top: 14px;
    width: 40px;
    transform: rotate(45deg);
}
input:checked ~ .toggle .middle_line{
    opacity: 0;
    transform: rotate(50px);
    display: none;
}
input:checked ~ .toggle .bottom_line{
    left: 2px;
    top: 14px;
    width: 40px;
    transform: rotate(-45deg);
}
input:checked ~ .slide{
    transform: translate(0);
}

/*메뉴창 언더바 만들기*/
.nav_list{
    display: flex;
    flex-direction: column;
    gap: 17px;
    position: absolute;
    background-color: rgb(87, 5, 110);
    top: 170px;
    left: 10px;
    height: 5px;
    z-index: 0;
}




/* wht so serious??글씨가있는 div창 */
#mainPost{
    font-size: 140px;
    font-weight: 600;
    color: #D7D4CE;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

#mainPost>p{
    margin: 0px;
}
span {
	opacity: 0;
}

@keyframes fade {
    to {
        opacity: 1;
    }
}




/*///////////////조커이미지커서 올리면 튀어나오는 느낌 시작///////////////*/
:root {
    --card-width: calc(var(--card-height) / 1.5);
    }

.card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-items: flex-end; */
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 50px;
    width: 400px;
    margin-top: 150px;
}


.cover-image {
    width: 500px;
    height: 620px;
    object-fit: cover;
}
.card:hover .cover-image {
    display: none;
}


.wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    transition: all 0.5s;
    position: absolute;
    left: 0;
}
.wrapper::before {
    top: 0;
    background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
    );
}
.wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
    );
}

.card:hover .wrapper::before,
.wrapper::after {
    opacity: 1;
}

/* .card:hover .wrapper::after {
} */
.title {
    width: 100%;
    transition: transform 0.5s;
}
.card:hover .title {
    transform: translate3d(0%, -50px, 100px);
}

.character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    top: 1px;
    
    z-index: -1;
}

.card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
}

/*/////////////////조커이미지 여기까지/////////////////////*/



/* 메인조커무지개색깔 이미지 div창 */
#mainJoker{
    display: flex;
    margin-top: 150px;
    margin-left: 40px;
    z-index: 2;
}
#mainJoker > img{
    width: 550px;
}

/* 위스키들 이미지있는 div창 */
#whiskeyCollection{
    /* width: 100%; */
    height: 500px;
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.wimg2{
    width: 200px;
}
.wimg1{
    margin-top: 10px;
}




/*////////////////////////////////////////*/
/* 두번째 메인창으로 슬라이드 모션있는 div창 2번째임 */


.carousel {
    --count: 6;
    --index: 0;
    --height: 60rem;

    height: var(--height);
    display: flex;
    margin-top: 2.4rem;
    max-width: 100%;
    width: 100%;
    background-color:#1A1413;

&.single {
    .gallery {
        display: none;
    }

.jumbotron {
        border-radius: 1rem;
        
    }
    }

figure {
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0px;
        width: 100%;
        /* height: 700px; */
        object-fit: cover;
    }
    }

.jumbotron {
    flex: 1;
    position: relative;
    margin-right: 0.5rem;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;

figure {
        width: 100%;
        height: 100%;

        &:first-child {
          margin-top: calc(var(--index) * var(--height) * -1);
        transition: margin-top .5s;
        }
    }
    }

.gallery {
    flex: 0 0 15rem ;
    display: flex;
    flex-direction: column;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 3px;
        height: calc((100% - 0.5rem * (var(--count) - 1)) / var(--count));
        right: calc(-0.5rem - 3px);
        background-color: #9B111E;
        transform: translateY(calc((100% + 0.5rem) * var(--index)));
        transition: transform .5s;
    }

figure {
        flex: 1;
        cursor: pointer;
        transition: filter .2s;

        &:hover {
        filter: brightness(1.2);
        }

        &:not(:first-child) {
        margin-top: 0.5rem;
        }
    }
    }
}



/* 세번째 메인창 명언등을 적어놓은 div창 */
#tata{
    width: 100%;
    background-color: #1A1413;
    color: #D7D4CE;
    display: flex;
    justify-content: center;
}
#tata > label{
    display: flex;
    font-size: 100px;
    align-items: center;
}

#rast{
    width: 100%;
    background-color: #1A1413;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D7D4CE;
}