* {
  margin: 0;
  padding: 0;
  background-color: #202020;
}

a {
  text-decoration: none;
}

#tipAllWrap {
  margin: 60px 80px;
}

#tipCategoryWrap {
  margin: 20px;
}

#tipUploadWrap {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 40px;
}

#tipAllWrap>#tipCategoryWrap>a {
  font-weight: 600;
}

.tip_category {
  font-size: 20px;
  margin-right: 20px;
  color: rgb(219, 219, 219);
}

.tip_category:hover,
.tip_category:active {
  text-shadow: 0 0 20px #ff005b;
  color: #fff;
}

#tipBtn {
  width: 80px;
  height: 35px;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
  background-color: white;
  font-weight: 600;
  cursor: pointer;
}

.neon {
  color: #fff;
  text-shadow: 0 0 20px #ff005b;
}

#itpLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#buttonBox {
  display: flex;
}

/* #tipcotentBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
} */

#tipContentWrap {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.tipImg {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
}

#titleWD {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.769);
  position: relative;
  visibility: hidden;
}

.tip:hover>#titleWD {
  visibility: visible;
}

#titleWD>span:nth-child(1) {
  font-size: 30px;
  color: rgb(235, 242, 249);
}

#titleWD>span:nth-child(2) {
  font-size: 20px;
  color: rgb(235, 242, 249);
}

#titleWD>span:nth-child(3) {
  color: rgb(235, 242, 249);
  font-size: 13px;
}

#pageNation {
  margin: 50px 0 0 560px;
  display: flex;
  gap: 30px;
  color: #fff;
  font-size: 20px;
}

#pageNation>span {
  cursor: pointer;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

#searchWordBox {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 20px;
  /* 버튼과 간격을 두기 위해 추가 */
}



#searchInput {
  width: 0;
  padding: 0;
  opacity: 0;
  transition: width 0.5s ease, padding 0.5s ease, opacity 0.5s ease;
  box-sizing: border-box;
  color: floralwhite;
}


#searchInput.open {
  width: 200px;
  padding: 5px 10px;
  opacity: 1;
  margin-right: 10px;
}

#searchButton {
  /* height: 35px; */
  padding: 0 10px;
  cursor: pointer;
  /* border-radius: 5px; */
  border: none;
}

#searchButton>img {
  width: 30px;
  height: 30px;
}