<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QnA 작성</title>
    <link rel="stylesheet" href="../css/create.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"> </script>
</head>

<body>
    <div class="writeContainer">
        <h1 class="writeTitle">문의 글 작성</h1>
        <div class="writeWrap">
            <form id="createForm" action="http://127.0.0.1:3000/qn-a/create" method="post">
                <input type="text" name="nick_name" value="god_kkh" hidden>
                <div class="titleWrap">
                    <label for="">문의 제목</label>
                    <textarea name="qna_title" id="titleInput" placeholder="문의 제목을 입력해주세요" cols="100"
                        rows="1"></textarea>
                </div>
                <div class="contentWrap">
                    <label for="">문의 내용</label>
                    <textarea name="qna_content" id="contentInput" placeholder="문의 내용을 입력해주세요" cols="100"
                        rows="30"></textarea>
                </div>
                <div class="btnWrap">
                    <button id="createBtn">문의 글 작성</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>