<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 class="Title">글 상세 페이지</h1>
    <div id="detailContent">
        <div class="detailTop">
            <span id="detailNumber"></span>
            <span id="detailName"></span>
            <span id="detailDate"></span>
        </div>
        <div id="detailTitle"></div>
        <div id="detailContent"></div>
    </div>
    <div class="btnContainer">
        <div class="btnWrap">
            <button id="modify">수정</button>
            <button id="back">뒤로가기</button>
            <button id="delete">삭제</button>
        </div>
    </div>
    <div id="commentContent">
        <div class="commentWrap">
            <div id="InputWrap">
                <textarea name="comment_content" id="commentContent" placeholder="댓글을 입력해주세요." cols="50"
                    rows="5"></textarea>
                <button id="commentAddBtn">댓글 작성</button>
                <div id="commentView"></div>
            </div>
        </div>
    </div>
</body>

</html>