<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QnA 상세</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>
    <h1 class="Title">글 상세 페이지</h1>
    <div class="detailContent">
        <div class="detailTop">
            <span id="detailNumber"></span>
            <span id="detailName"></span>
            <span id="detailDate"></span>
        </div>
        <div id="detailTitle"></div>
        <div id="detailContent"></div>
    </div>
    <div class="btnContainer">
        <div class="btnWrap">
            <button id="modify">수정</button>
            <button id="back">뒤로가기</button>
            <button id="delete">삭제</button>
        </div>
    </div>
    <div id="commentContent">
        <div class="commentWrap">
            <div id="InputWrap">
                <textarea name="comment_content" id="commentContent" placeholder="댓글을 입력해주세요." cols="50"
                    rows="5"></textarea>
                <button id="commentAddBtn">댓글 작성</button>
                <div id="commentView"></div>
            </div>
        </div>
    </div>
</body>
<script>
    const listIndex = new URLSearchParams(location.search).get("id");
    console.log(listIndex);
    const dataNumber = document.getElementById('detailNumber');
    const dataName = document.getElementById('detailName');
    const dataDate = document.getElementById('detailDate');
    const dataTitle = document.getElementById('detailTitle');
    const dataContent = document.getElementById('detailContent');

    const detailData = async function detail() {
        const data = await axios.get(`http://127.0.0.1:3000/qn-a/detail/${listIndex}`);
        console.log(data.data);
        if (data !== null) {
            dataNumber.innerHTML = `글번호 : ${data.data.id}`;
            dataName.innerHTML = `작성자 : ${data.data.nick_name}`;
            dataDate.innerHTML = `작성일 : ${data.data.createdAt}`;
            dataTitle.innerHTML = `${data.data.qna_title}`;
            dataContent.innerHTML = `${data.data.qna_content}`;
        }
    }
    detailData();

    const modifyBtn = document.getElementById('modify');

    modifyBtn.addEventListener('click', () => {
        location.href = `update.html?id=${listIndex}`;
    })

    const backBtn = document.getElementById('back');

    backBtn.addEventListener('click', () => {
        location.href = `QnA.html`;
    })

    const deleteBtn = document.getElementById('delete');

    deleteBtn.addEventListener('click', async () => {
        console.log(listIndex)
        const data = await axios.delete(`http://127.0.0.1:3000/qn-a/${listIndex}`);
        console.log(data);
        location.href = 'QnA.html'

    })
</script>

</html>