<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QnA 메인</title>
    <link rel="stylesheet" href="../CSS/QnA.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <!-- 문의 글 목록 -->
    <h1 class="QnA_title">QnA</h1>
    <!-- 글 작성 버튼 -->
    <div class="btnWrap">
        <button id="createBtn">문의 글 작성</button>
    </div>
    <!-- 목록 가이드 -->
    <div id="guide">
        <span class="guideNumber">번호</span>
        <span class="guideName">작성자</span>
        <span class="guideTitle">제목</span>
        <span class="guideContent">내용</span>
    </div>
    <!-- 문의 글 보여줄 공간 -->
    <div id="list"></div>
    <!-- 문의 글 검색 공간 -->
    <div class="searchWrap">
        <input type="search" name="" id="searchInput" placeholder="찾고 싶은 문의 글의 제목을 검색해주세요">
        <button id="searchBtn">검색</button>
    </div>
    <!-- 페이지네이션 공간 -->
    <div class="paginationWrap">
        <div id="pagination"></div>
    </div>
</body>
<script src="../js/QnA.js"></script>

</html>